label {
	display: block;
	margin: 5px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

/*form#view_book, #view_book input{*/
/*	background: transparent;*/
/*	border: none;*/
/*	!*padding: 2px;*!*/
/*}*/